h1{
	font-size: 2.5rem;
	font-weight: bold;
}

h2{
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 3.5rem;
}

h3{
	font-size: 1rem;
	font-weight: bold;
	margin-top: 2rem;
}

p{
	font-weight: 1rem;
	margin-bottom: 1rem;
}

.text-hero{
	padding: $default-padding*2 0;
}

.text-center{
	text-align: center;
}