h1{
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 600;
}

h2{
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 3.5rem;
}

h3{
	font-size: 1rem;
	font-weight: 600;
	margin-top: 2rem;
}

p{
	font-weight: 1rem;
	color: $grey;
}

b{
	font-weight: 600;
}

.text-hero{
	padding: $default-padding*2 0;
}

.text-center{
	text-align: center;
}