@import "_variables.scss";
@import "_typography.scss";


body {
  color: $text-color;
}

.o-body {
	padding-top: 90px;
}

img{
	margin: 0;
}

.bg-darkgrey{
	background: $dark-grey;
	margin-bottom: 2rem;
	overflow: hidden;
}

.bg-lightgrey{
	background: $light-grey;
	margin-bottom: 2rem;
}

.extra-padding-top{
	padding-top: 1rem;
}

.short-height{
	position: relative;
	padding-top: $default-padding;

	&:after{
		content: '';
		bottom: 0;
		position: absolute;
		width: 100%;
		height: 320px;
		background: $light-grey;
		z-index: 0;
	}

	img{
		z-index: 2;
	}
}


.content{
	display: grid;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(960px - (2* #{$default-padding}));
	width: 80%;

	@media only screen and (max-width: 600px) {
		&{
			width: 90%;
		}
	}

	* > img{
		vertical-align: middle;
	}

	&-fullwidth{
		display: grid;
		width: 100%;
		justify-items: center;
		align-self:center;

		* > img{
			vertical-align: middle;
		}
	}

	&-about{
		padding: 4rem 0;

		@media only screen and (max-width: 600px) {
			&{
				padding: 2rem 0;
			}
		}

		a{
			color: $grey; 
			opacity: 0.8;

			&:hover{
				text-decoration: none;
			}
		}
	}

}

.grid-item-6{
	margin: 0 auto;
  	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: calc(960px - (2* #{$default-padding}));
	width: 80%;
	grid-gap: 1rem;

	@media only screen and (max-width: 600px) {
		&{
			width: 90%;
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

main{
	display: grid;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(665px - (2* #{$default-padding}));
}

.c-header__wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #fff;
}

header{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	padding: $default-padding*2 0;


	& > *{
		align-self: center;
		margin: 0;
		grid-gap: 32px;
	}

	img{
		margin: 0 0 0 -12px;
		width: 48px;
	}
}

.nav{
	text-align: right;
	
	a{
		color: $black;
		text-decoration: none;
		justify-content: end;
		margin-left: 1.8rem;
		position: relative;
		transition: 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);	

		&:before{
			content:  '';
			position: absolute;
			display: block;
			width: 0;
			height: 2px;
			background: $text-color;
			left: 0;
			bottom: -8px;
			transition: 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);	
		}

		&:hover:before{			
			width: 100%;			
		}

		&.selected:before{
			content:  '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			background: $text-color;
			left: 0;
			bottom: -8px;
		}

	}
}

.hero_img img{
	margin: 0;
}

.site-title{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 70%;
	padding: ($default-padding*4) $default-padding ($default-padding*4) 0;

	@media only screen and (max-width: 800px) {
		&{
			padding: ($default-padding*2) 0;
			width: 90%
		}
	}

	h1{
		font-weight: 400;
	}

	a{
		color: $text-color;
		text-decoration: none;
		transition: 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);	
		opacity: 1;

		&:hover{
			opacity: 0.8;
		}
	}
}

article{
	display: grid;
	grid-template-columns: minmax(280px, 20%) auto;
	grid-column-gap: 16px;
	padding: ($default-padding*2) 0;

	@media only screen and (max-width: 600px) {
		&{
			grid-template-columns: auto;
		}
	}

	h2{
		margin-top: 0;
		margin-bottom: 2rem;
		position: relative;

		&:before{
			content:  '';
			position: absolute;
			width: 32px;
			height: 1px;
			background: $mid-grey;
			left: 0;
			bottom: -1rem;
		}
	}	
	
	.hover img{
		transform: scale(1);
		transition: 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;	
	}

	.hover:hover img{	
		transform: scale(1.1);
	}

	img{
		grid-area:1 / col4-start;		
		
	}

}

.align-right{
	justify-self: end;
}


footer{
	margin-top: 2rem;
	height: 160px;
	grid-column: span 6;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;

	.content{
		max-width: calc(665px - (2* #{$default-padding}));

		&:first-child{
			text-align: left;
		}

		&-fullwidth{
			max-width: calc(960px - (2* #{$default-padding}));
		}
		
	}

	.row{
		display: grid;
  		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));  		
	}

	span{
		width: 100%;
		color: $mid-grey;
		opacity: 0.8;
		text-align: right;
		border-top: 1px solid $mid-grey;
		font-size: 0.9rem;
		padding-top: 1rem;

		@media only screen and (max-width: 600px) {
			&{
				width: 90%;
			}
		}
	}

	.grid-item-6{

		@media only screen and (max-width: 600px) {
			&{
			
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

}

.c-btn {
	background: #ffffff;
	border: 1px solid $dark-grey;
	padding: 1rem 2rem;
	text-decoration: none;
	cursor: pointer;
	color: $text-color;
	font-size: 0.8rem;

}

.img-circle{
	border-radius: 100%;
	overflow: hidden;
	margin: 2rem;

	@media only screen and (max-width: 600px) {
		&{
			margin: 0;
		}
	}

	img{
		max-width: 100%;
	}
}
