

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$black: #222222;
$white: #ffffff;
$default-padding: 1em;
$header-height: 3em;

body {
  font: 100% $font-stack;
  color: $primary-color;  
}

.content{
	display: grid;
	background: grey;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1000px - (2* #{$default-padding}));
	width: 80%;
}

header{	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	

	& > *{
		align-self: center;
		margin: 0;
		grid-gap: 32px;
	} 

	img{
		margin: 0;
	}
	
}

.nav{	
	text-align: right;


	a{
		color: $black;
		text-decoration: none;
		justify-content: end;
		margin-left: 2rem;
	}	
}


.site-title{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding: ($default-padding*4) ($default-padding*8) ($default-padding*8) 0;
}


article{
	display: grid;
	grid-template-columns: 40% auto;
	grid-column-gap: 16px;
	padding: ($default-padding*2) 0;


	h3,p{
		justify-content: start;
	}

	img{
		grid-area:1 / col4-start;
		
	}
}