$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$black: #222222;
$white: #ffffff;
$default-padding: 1em;
$header-height: 3em;

body {
  font: 100% $font-stack;
  color: $primary-color;

  
}

.content{
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);

	background: grey;

	margin-left: auto;
	margin-right: auto;
	max-width: calc(1000px - (2* #{$default-padding}));
	width: 80%;


}

header{
	// display: grid;
	margin-top: 1rem;
}

.nav{
	// grid-column: 4 / span 1;
	text-align: right;

	a{
		color: $black;
		text-decoration: none;
		justify-content: end;
		margin-left: 2rem;
	}
	
}

.site-title{
	


}


article{
	// display: grid;
	// grid-template-columns: 1fr 1fr;

	h3,p{
		justify-content: start;
	}

	img{
		justify-content: end;
		
	}
}